.DS_Store
.env*
.eslintcache
.idea
.npm
.vscode
.vscode-test
*.lcov
*.log
*.log*
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
/dist/
/tmp/
coverage
docs/.vitepress/cache
docs/.vitepress/dist
lib-cov
logs
node_modules/
pids
report.*.json
