.*
.DS_Store
.eslint*
.eslintcache
.github
.idea
.npm
.vscode
.vscode-test
.vuepress/dist
*.lcov
*.log
*.log*
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
/docs/
/src/
coverage
lib-cov
logs
node_modules/
pids
report.*.json
tests/
tsconfig.json
typedoc.json
