.*
.DS_Store
.eslint*
.eslintcache
.github
.idea
.npm
.vscode
.vscode-test
.vuepress/dist
*.lcov
*.log
*.log*
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
/docs/
/src/
/tests/
/tmp/
coverage
eslint.config.*
lib-cov
logs
node_modules/
pids
report.*.json
tsconfig*.json
typedoc.json
